<div [ngClass]="{'w-16': isCollapsed, 'w-64': !isCollapsed}" class="fixed top-16 left-0 bottom-0 bg-gray-900 text-gray-100 p-4 overflow-y-auto transition-all duration-300">

  <!-- Bouton de bascule -->
  <div class="flex justify-end">
    <button (click)="toggleSidebar()" class="text-gray-300 hover:text-white focus:outline-none">
      <svg *ngIf="!isCollapsed" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      <svg *ngIf="isCollapsed" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>

  <!-- Menu de navigation -->
  <nav class="mt-6">
    <ul class="space-y-4">

      <!-- Utilisateurs -->
      <li>
        <a routerLink="/admin/users" class="flex items-center p-2 hover:bg-gray-800 rounded transition">
          <i class="bi bi-people h-6 w-6"></i>
          <span *ngIf="!isCollapsed" class="ml-3">Utilisateurs</span>
        </a>
      </li>

      <!-- Filières -->
      <li>
        <a routerLink="/admin/filieres" class="flex items-center p-2 hover:bg-gray-800 rounded transition">
          <i class="bi bi-collection h-6 w-6"></i>
          <span *ngIf="!isCollapsed" class="ml-3">Filières</span>
        </a>
      </li>

      <!-- Niveaux -->
      <li>
        <a routerLink="/admin/niveaux" class="flex items-center p-2 hover:bg-gray-800 rounded transition">
          <i class="bi bi-bar-chart-steps h-6 w-6"></i>
          <span *ngIf="!isCollapsed" class="ml-3">Niveaux</span>
        </a>
      </li>

      <!-- Classes -->
      <li>
        <a routerLink="/admin/classes" class="flex items-center p-2 hover:bg-gray-800 rounded transition">
          <i class="bi bi-easel h-6 w-6"></i>
          <span *ngIf="!isCollapsed" class="ml-3">Classes</span>
        </a>
      </li>

      <!-- Modules -->
      <li>
        <a routerLink="/admin/modules" class="flex items-center p-2 hover:bg-gray-800 rounded transition">
          <i class="bi bi-journals h-6 w-6"></i>
          <span *ngIf="!isCollapsed" class="ml-3">Modules</span>
        </a>
      </li>

      <!-- Ajoute d'autres liens ici -->
      
    </ul>
  </nav>
</div>
